<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='homepage/aboutUs/icons-font.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='homepage/aboutUs/style.css')}}">
    <title>About US</title>
</head>
<body>
    <header class="header">
        <div class="header-line"></div>
        <div class="container">
            <div class="side-bar">
                <div class="side-bar_top">
                    <a href="" class="logo-link"><img src="{{url_for('static', filename='homepage/aboutUs/aboutImg/LOGO3.png')}}" alt="" class="logo"></a>
                    <div class="clouse-btn"></div>
                </div>
                <nav>
                <ul class="burger-menu">
                    <li class="burger-menu-item">
                        <a href="{{url_for('homepage_app.homepage_api')}}" class="header-menu_link">HOME</a>
                    </li>
                    <li class="burger-menu-item">
                        <a href="{{url_for('homepage_app.aboutus_api')}}" class="header-menu_link active-link burger-menu-item">ABOUT US</a>
                    </li>
                    <li class="burger-menu-item">
                        <a href="{{url_for('homepage_app.contactus_api')}}" class="header-menu_link">CONTACT US</a>
                    </li>
                    <li class="burger-menu-item">
                        <a href="tel:+254-725-251-132 " class="header-menu_link">&#9742 +254-711-532-536</a>
                    </li>
                    <ul class="social-link-wrapper">
                        <li class="social-item iconinstagram inst">
                            <a href="" class="social-link"></a>
                        </li>
                        <li class="social-item iconfacebook fb">
                            <a href="" class="social-link"></a>
                        </li>
                        <li class="social-item icontwitter-svgrepo-com twiter">
                            <a href="" class="social-link"></a>
                        </li>
                        <li class="social-item iconwhatsap WU">
                            <a href="" class="social-link"></a>
                        </li>
                    </ul>
                </ul>
            </nav>
            </div>
            <div class="header_top">
                <a href="" class="logo-link"><img src="{{url_for('static', filename='homepage/aboutUs/aboutImg/LOGO3.png')}}" alt="" class="logo"></a>
                <ul class="header-menu">
                    <li class="header-menu_item _anim-items first">
                        <a href="{{url_for('homepage_app.homepage_api')}}" class="header-menu_link">HOME</a>
                    </li>
                    <li class="header-menu_item _anim-items second">
                        <a href="{{url_for('homepage_app.aboutus_api')}}" class="header-menu_link active-link">ABOUT US</a>
                    </li>
                    <li class="header-menu_item _anim-items third">
                        <a href="{{url_for('homepage_app.contactus_api')}}" class="header-menu_link">CONTACT US</a>
                    </li>
                    <li class="header-menu_item _anim-items fourth">
                        <a href="tel:+254-725-251-132 " class="header-menu_link">&#9742 +254-725-251-132</a>
                    </li>
                </ul>
                <div class="menu-burger"><span class="burger-item"></span></div>
            </div>
            <div class="header-content">
                <div class="header-content_wrapper">
                    <h2 class="header-name _anim-items">WAENO PLUMBING SOLUTIONS</h2>
                    <h1 class="header-title"><div class="title-item _anim-items">QUALITY IS WHAT</div><br> <div class="title-item item2 _anim-items">WE PURSUE, WE KNOW</div> <br><div class="title-item item3 _anim-items">WHAT WE DO.</div></h1>
                </div>
            </div>
        </div>
    </header>
    <section class="card-section">
        <div class="container">
            <div class="card-wrapper">
                <div class="card _anim-items">
                    <div class="icon-wrap">
                        <div class="card-icon iconplumber"></div>
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">Emergency Service</h3>
                        <h2 class="card-text">Dedicated to giving customers a high standard</h2>
                        <div class="card-btn">Learn more &#8594</div>
                    </div>
                </div>
                <div class="card card2 _anim-items">
                    <div class="icon-wrap">
                        <div class="card-icon iconpipes"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-title">Remodeling Services</div>
                        <div class="card-text">An active Solar Heating, live in a cold climate</div>
                        <div class="card-btn">Learn more &#8594</div>
                    </div>
                </div>
                <div class="card card3 _anim-items">
                    <div class="icon-wrap">
                        <div class="card-icon iconfaucet"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-title">Commercial Service</div>
                        <div class="card-text">The radiator circuits in most modern wet central.</div>
                        <div class="card-btn">Learn more &#8594</div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section class="description">
        <div class="container">
            <div class="description-conten">
                <div class="description-conten-wrapper _anim-items">
                    <h4 class="description-first-title">WHY CHOOSE US?</h4>
                    <h3 class="description-second-title">We Expand All Our Expertise To Be The Best Plumbers</h3>
                    <article class="description-text1">Our highly skilled plumbers & heating engineers are here to help with any plumbing issues you’re faced with. We are dedicated to giving customers a high standard plumbing service for many years.</article>
                    <article class="description-text2">If you have had a sudden plumbing issue that needs to be taken care of as soon as possible, we offer emergency services 24/7.</article>
                    <div class="progress-wrapper">
                        <div class="progress-text">
                            <div class="progres-right">Projects Done</div>
                            <div class="progres-left">75%</div>
                        </div>
                        <div class="progress-line">
                            <div class="line-item _anim-items"></div>
                        </div>
                    </div>
                    <div class="progress-wrapper">
                        <div class="progress-text">
                            <div class="progres-right">Qualified Staff</div>
                            <div class="progres-left">55%</div>
                        </div>
                        <div class="progress-line">
                            <div class="line-item second _anim-items"></div>
                        </div>
                    </div>
                    <div class="progress-wrapper">
                        <div class="progress-text">
                            <div class="progres-right">Awarded Wins</div>
                            <div class="progres-left">90%</div>
                        </div>
                        <div class="progress-line">
                            <div class="line-item thr _anim-items"></div>
                        </div>
                    </div>
                </div>
                <div class="description-img-wrapper _anim-items">
                    <img src="{{url_for('static', filename='homepage/aboutUs/aboutImg/single-img001.png')}}" alt="" class="description-img">
                </div>
            </div>
        </div>
    </section>
    <section class="quality">
        <div class="container">
            <div class="quality-wrapper">
                <div class="quality-content">
                    <h4 class="description-first-title">WHY CHOOSE US?</h4>
                    <h3 class="description-second-title">Need Professional Help With Your Project?</h3>
                    <article class="description-text1">With a high level of quality workmanship, courtesy, and customer service at a great price, our complete plumbing & rooter service leaves all other plumbers in the dust. You can call us any time, day or night, for a fast response to your plumbing needs. We can handle everything from a dripping faucet to a gushing water.</article>
                    <div class="quality-btn-wrap">
                        <div class="quality-btn home"><a href="{{url_for('homepage_app.homepage_api')}}">Home</a></div>
                        <div class="quality-btn contact-btn"><a href="../{{url_for('homepage_app.contactus_api')}}">Contact Us</a></div>
                    </div>
                    <div class="counter">
                        <div class="counter-wrap">
                            <div class="counter-item">
                                <div class="counter-icon iconplumber"></div>
                                <div class="counter-number" data-max="128">0</div>
                            </div>
                            <div class="counter-text">completed projects</div>
                        </div>
                        <div class="counter-wrap">
                            <div class="counter-item">
                                <div class="counter-icon iconuser"></div>
                                <div class="counter-number" data-max="428">0</div>
                            </div>
                            <div class="counter-text">satisfied Clients</div>
                        </div>
                        <div class="counter-wrap">
                            <div class="counter-item">
                                <div class="counter-icon iconlight-bulb"></div>
                                <div class="counter-number" data-max="225">0</div>
                            </div>
                            <div class="counter-text">active projects</div>
                        </div>
                    </div>
                </div>
                <div class="quality-img-wrap _anim-items">
                    <img src="{{url_for('static', filename='homepage/aboutUs/aboutImg/quality-img.jpg')}}" alt="" class="qualyty-img">
                </div>
            </div>
        </div>
    </section>
    <footer class="map-section">
        <div class="container">
            <div class="section-map">
                <div class="map-informayion">
                <div class="map-description">
                    <div class="description-titel">&#10004 WAENO PLUMBING SOLUTIONS</div>
                    <div class="description-text">Your entry-point to a unique combination of services and products designed just for you-available anytime, anywhere. We fuse teamwork and expertise with the right technology to provide you with everything you need to stay ahead. Experience the difference we make! Thank you for your interest in our services.</div>
                    <ul class="social-link-wrapper">
                        <li class="social-item iconinstagram inst">
                            <a href="" class="social-link"></a>
                        </li>
                        <li class="social-item iconfacebook fb">
                            <a href="" class="social-link"></a>
                        </li>
                        <li class="social-item icontwitter-svgrepo-com twiter">
                            <a href="" class="social-link"></a>
                        </li>
                        <li class="social-item iconwhatsap WU">
                            <a href="" class="social-link"></a>
                        </li>
                    </ul>
                </div>
                <div class="contact-section">
                     <ul class="contact">
                        <li class="contact-item contact-details">&#10004 Contact details</li>
                        <li class="contact-item">&#9742 +254-711-532-536</li>
                        <li class="contact-item">&#9742 +254-721-242-379</li>
                        <li class="contact-item">&#9993 email waenoplumbingsolutions@gmail.com</li>
                        <li class="contact-item">&#9993 email waenoisaac42@gmail.com</li>
                        <li class="contact-item">&#9200 working hours <br>08:00 - 17:30</li>
                        <li class="contact-item">&#10004 Nairobi, Kenya</li>
                    </ul>
                </div>

            </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d127641.27925268967!2d36.752588566395666!3d-1.3008869102023213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1720819818195!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
             <h2 class="header-name _anim-items"> developed by Neutrino Developers courtesy Biokraft Systems Limited +254 790 77 19 46 </h2>></br></br></br></br>
        </div>
    </footer>
    <script src="{{url_for('static', filename='homepage/aboutUs/main.js')}}"></script>
</body>
</html>