<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='homepage/aboutUs/icons-font.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='homepage/style.css')}}">
    <title>WAENO PLUMBING SOLUTIONS </title>
</head>
<body>
    <header class="header">
        <div class="header-line"></div>
        <div class="side-bar">
            <div class="side-bar_top">
                <a href="" class="logo-link"><img src="{{url_for('static', filename='homepage/image/LOGO3.png')}}" alt="" class="logo"></a>
                <div class="clouse-btn"></div>
            </div>
            <nav>
            <ul class="burger-menu">
                <li class="burger-menu-item">
                    <a href="{{url_for('homepage_app.homepage_api')}}" class="header-menu_link active-link">HOME</a>
                </li>
                <li class="burger-menu-item">
                    <a href="{{url_for('homepage_app.aboutus_api')}}" class="header-menu_link burger-menu-item">ABOUT US</a>
                </li>
                <li class="burger-menu-item">
                    <a href="{{url_for('homepage_app.contactus_api')}}" class="header-menu_link">CONTACT US</a>
                </li>
                <li class="burger-menu-item">
                    <a href="tel:+254-725-251-132" class="header-menu_link">&#9742 +254-725-251-132</a>
                </li>
                <ul class="social-link-wrapper">
                    <li class="social-item iconinstagram inst">
                        <a href="" class="social-link"></a>
                    </li>
                    <li class="social-item iconfacebook fb">
                        <a href="" class="social-link"></a>
                    </li>
                    <li class="social-item icontwitter-svgrepo-com twiter">
                        <a href="" class="social-link"></a>
                    </li>
                    <li class="social-item iconwhatsap WU">
                        <a href="" class="social-link"></a>
                    </li>
                </ul>
            </ul>
        </nav>
        </div>
        <div class="container">
            <div class="header_top">
                <a href="" class="logo-link"><img src="{{url_for('static', filename='homepage/image/LOGO3.png')}}" alt="" class="logo"></a>
                <nav>
                <ul class="header-menu">
                    <li class="header-menu_item _anim-items first">
                        <a href="{{url_for('homepage_app.homepage_api')}}" class="header-menu_link active-link">HOME</a>
                    </li>
                    <li class="header-menu_item _anim-items second">
                        <a href="{{url_for('homepage_app.aboutus_api')}}" class="header-menu_link">ABOUT US</a>
                    </li>
                    <li class="header-menu_item _anim-items third">
                        <a href="{{url_for('homepage_app.contactus_api')}}" class="header-menu_link">CONTACT US</a>
                    </li>
                    <li class="header-menu_item _anim-items fourth">
                        <a href="tel:+254-725-251-132" class="header-menu_link">&#9742 +254-725-251-132</a>
                    </li>
                </ul>
            </nav>
                <div class="menu-burger"><span class="burger-item"></span></div>
            </div>
            <div class="header-content">
                <div class="header-content_wrapper">
                    <h2 class="header-name _anim-items">WAENO PLUMBING SOLUTIONS </h2>
                    <h1 class="header-title _anim-items">We will earn your vote of confidence and patronage with our quality, integrity and value.</h1>
                   <!--  <div class="catalogue-btn _anim-items">GO TO CATALOGUE</div> -->
                </div>
            </div>
        </div>
    </header>
    <section class="services">
        <div class="container">
            <h3 class="services-title-top">How can we help you today</h3>
            <h3 class="services-title-down">What Are You Renovating?</h3>
            <div class="services-wrapper">
                <div class="services-card _anim-items">
                    <div class="services-img-wrapper">
                        <img src="{{url_for('static', filename='homepage/FirstImg/services-card.jpg')}}" height="100" alt="" class="services-img">
                    </div>
                    <div class="services-card-title">For Bathrooms</div>
                    <div class="services-card-text">We turn your old bathroom into brand new modern and fully functioning rooms with high-quality plumbing</div>
                    <div class="services-card_raw">more details &#8594</div>
                </div>
                <div class="services-card _anim-items">
                    <div class="services-img-wrapper">
                        <img src="{{url_for('static', filename='homepage/FirstImg/services-card2.jpg')}}" height="100" alt="" class="services-img">
                    </div>
                    <div class="services-card-title">For Kitchen</div>
                    <div class="services-card-text">Kitchen is a number one room in every home, and it requires special attention while doing pipe repairs</div>
                    <div class="services-card_raw">more details &#8594</div>
                </div>
                <div class="services-card _anim-items">
                    <div class="services-img-wrapper">
                        <img src="{{url_for('static', filename='homepage/FirstImg/services-card3.jpg')}}" height="100" alt="" class="services-img">
                    </div>
                    <div class="services-card-title">For Solar Heating</div>
                    <div class="services-card-text">We are all about renewable energy allowing you efficiency in your everyday resources.</div>
                    <div class="services-card_raw">more details &#8594</div>
                </div>
            </div>
        </div>
    </section>
    <section class="inovate">
        <div class="container">
            <div class="inovate-wrapper">
            <div class="inovate_content _anim-items">
                <h2 class="inovate_name">&#10004 WAENO PLUMBING SOLUTIONS</h2>
                <h3 class="inovate_title">Innovative Products</h3>
                <article class="inovate_text">Wide variety of products well suited for your residence and office space</article>
                <div class="inovate_btn">GO TO CATALOGUE</div>
            </div>
            <div class="inovate-card_wrapper">
            <div class="inovate-card _anim-items">
                <div class="inovate-img">
                    <img src="{{url_for('static', filename='homepage/FirstImg/inovate-itmg.jpg')}}" alt="" class="inovate-img-source">
                </div>
                <div class="inovate-text">Contemporary Faucet</div>
            </div>
            <div class="inovate-card right _anim-items">
                <div class="inovate-img">
                    <img src="{{url_for('static', filename='homepage/FirstImg/inovate-img.jpg')}}" alt="" class="inovate-img-source">
                </div>
                <div class="inovate-text">Velvet Bathtub</div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <section class="quality">
        <div class="container">
                <h3 class="quality-title">WAENO PLUMBING SOLUTIONS</h3>
                <article class="quality-text">A full service general contracting company across various regions in Kenya</article>
            <div class="quality-wrapper">
                <div class="quality-card first-card _anim-items">
                    <div class="quality-card-img"></div>
                    <div class="quality-card_title">&#10004 Renovations</div>
                    <div class="quality-card_text">We offer renovation services from bathrooms and kitchens to basement development and handicap accessibility.</div>
                    <div class="quality-stars">
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                    </div>
                </div>
                <div class="quality-card thr-card _anim-items">
                    <div class="quality-card-img quality2"></div>
                    <div class="quality-card_title">&#10004 Concrete Work</div>
                    <div class="quality-card_text">We offer residential and light commercial concrete services, from flat work to retaining walls we have you covered.</div>
                    <div class="quality-stars">
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                    </div>
                </div>
                <div class="quality-card second-card _anim-items">
                    <div class="quality-card-img quality1"></div>
                    <div class="quality-card_title">&#10004 Custom Home Building</div>
                    <div class="quality-card_text">You can make your house beautiful as other houses in your community.</div>
                    <div class="quality-stars">
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                        <span class="star1">&#9733</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-slider">
        <div class="container">
            <h3 class="slider-title">Professional Home Remodeling Company</h3>
            <div class="slider-wrapper">
        <div class="flex_wrapper">
            <div class="slider_wrapper">
                <div class="slid active">
                    <img src="{{url_for('static', filename='homepage/FirstImg/inovate-bg.jpg')}}" alt="" class="slide-img">
                </div>
                <div class="slid">
                    <img src="{{url_for('static', filename='homepage/FirstImg/header-bg2.jpg')}}" alt="" class="slide-img">
                </div>
                <div class="slid">
                    <img src="{{url_for('static', filename='homepage/FirstImg/slid.jpg')}}" alt="" class="slide-img">
                </div>
            </div>
        </div>
        <div class="slider-content">
            <div class="dot_wrapper">
                <span class="dot active">&#10004 bathroom</span>
                <span class="dot">&#10004 kitchen</span>
                <span class="dot">&#10004 screen Rooms</span>
                </div>
                <div class="slider-description">WAENO PLUMBING SOLUTIONS also provides commercial construction services for business owners. Whether you need design or finish assistance, we will be happy to help. We can get you in touch with a designer who will be able to meet your needs while staying within your budget, and handle the construction process in a manner that will meet all of your expectations.</div>
            </div>
    </div>
    </div>
    </section>
     <footer class="map-section">
        <div class="container">
            <div class="section-map">
                <div class="map-informayion">
                <div class="map-description">
                    <div class="description-titel">&#10004 WAENO PLUMBING SOLUTIONS</div>
                    <div class="description-text">Your entry-point to a unique combination of services and products designed just for you-available anytime, anywhere. We fuse teamwork and expertise with the right technology to provide you with everything you need to stay ahead. Experience the difference we make! Thank you for your interest in our services.</div>
                    <ul class="social-link-wrapper">
                        <li class="social-item">
                            <a href="" class="social-link"><img src="{{url_for('static', filename='homepage/FirstImg/ins.png')}}" alt=""></a>
                        </li>
                        <li class="social-item">
                            <a href="" class="social-link"><img src="{{url_for('static', filename='homepage/FirstImg/twit.png')}}" alt=""></a>
                        </li>
                        <li class="social-item">
                            <a href="" class="social-link"><img src="{{url_for('static', filename='homepage/FirstImg/WhathsUp.png')}}" alt=""></a>
                        </li>
                        <li class="social-item">
                            <a href="" class="social-link"><img src="{{url_for('static', filename='homepage/FirstImg/FB.png')}}" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="contact-section">
                     <ul class="contact">
                        <li class="contact-item contact-details">&#10004 Contact details</li>
                        <li class="contact-item">&#9742 +254-711-532-536</li>
                        <li class="contact-item">&#9742 +254-721-242-379</li>
                        <li class="contact-item">&#9993 email waenoplumbingsolutions@gmail.com</li>
                        <li class="contact-item">&#9993 email waenoisaac42@gmail.com</li>
                        <li class="contact-item">&#9200 working hours <br>08:00 - 17:30</li>
                        <li class="contact-item">&#10004 Nairobi, Kenya</li>
                    </ul>
                </div>
            </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d127641.27925268967!2d36.752588566395666!3d-1.3008869102023213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ske!4v1720819818195!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </footer>
    <script src="{{url_for('static', filename='homepage/main.js')}}"></script>
</body>
</html>